.slotbox {
  height: 96px;
  width: 96px;
  margin: 10px;
  display: inline-block;
  overflow: hidden;
  border: #EEE solid 1px;
}

.slotMachine {
  position: absolute;
  top: 40%;
  left: 40%;
}

h2 {
  text-align: center;
}

fieldset {
  border: none;
  padding: 0px;
  margin: 0px;
  display: inline;
}

form {
  display: inline;
}

#panel {
  display: inline;
}

input {
  width: 50px;
}

#balance {
  width: 100px;
}

#makeWin {
  position: absolute;
  top: 100%;
  left: 90%;
  color: white;
}

#makeJackpot {
  position: absolute;
  top: 100%;
  right: 90%;
  color: white;
}
